@model ForgotPasswordViewModel


@{
    ViewBag.Title = "یادآوری کلمه عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<form asp-controller="Account" asp-action="ForgotPassword">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <span class="account-head-line">@ViewBag.Title</span>
            <div class="content-account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IsResetPassword" />
                <label for="email-phone">شماره موبایل</label>
                <input type="text" asp-for="Mobile" id="email-phone" class="input-email-account" placeholder="شماره موبایل خود را وارد نمایید"><span class="mdi mdi-account-outline" style="top: 55px;"></span>
                <div class="parent-btn">
                    <button type="submit" class="dk-btn dk-btn-info" style="margin-top: 40px;">
                        ارسال
                        <i class="mdi mdi-lock sign-in"></i>
                    </button>
                </div>
            </div>
            <div class="account-footer">
                <span>قبلا در سایت ثبت نام کرده‌اید؟</span>
                <a asp-action="Login" class="btn-link-register">وارد شویــد</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

