@{
    ViewBag.Title = "مسدودی موقت";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">@ViewBag.Title</span>
        <div class="content-account">
            <label class="text-danger">حساب کاربری شما موقتا مسدود شده است. لطفاً بعدا دوباره امتحان کنید.</label>
        </div>

        <div class="account-footer">
            <span>کاربر جدید هستید؟</span>
            <a asp-controller="Account" asp-action="Register" class="btn-link-register">ثبت نام در کاربیوتیک</a>
        </div>
    </div>
</div>