
@{
    ViewBag.Title = "تایید تغییر رمز عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">@ViewBag.Title</span>
        <div class="content-account">
            <span>رمز عبور شما تغییر یافت. لطفا <a style="color: #1ca2bd; border-bottom: 1px dashed #1ca2bd; text-decoration: none; font-weight: 700;" asp-controller="Account" asp-action="Login">وارد کاربیوتیک شوید</a></span>
        </div>

        <div class="account-footer">
            <span>کاربر جدید هستید؟</span>
            <a asp-controller="Account" asp-action="Register" class="btn-link-register">ثبت نام در کاربیوتیک</a>
        </div>
    </div>
</div>

