@model ResetPasswordViewModel

@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<form asp-controller="Account" asp-action="ResetPassword">
    <input asp-for="Code" type="hidden" />
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <span class="account-head-line">@ViewBag.Title</span>
            <div class="content-account">
                <label>شماره موبایل</label>
                <input asp-for="Mobile" class="input-email-account" readonly="readonly" /><i class="mdi mdi-account-outline" style="top: 55px;"></i>

                <label for="password">رمز عبور جدید</label>
                <input asp-for="Password" type="password" id="password" class="input-password" placeholder="رمز عبور خود را وارد نمایید"><i class="mdi mdi-lock" style="top: 146px;"></i>
                <label for="password">تکرار رمز عبور جدید</label>
                <input asp-for="ConfirmPassword" type="password" id="password" class="input-password" placeholder="رمز عبور خود را وارد نمایید"><i class="mdi mdi-lock" style="top: 238px;"></i>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="parent-btn">
                    <button type="submit" class="dk-btn dk-btn-info">
                        تغییر رمز عبور
                        <i class="fa fa-refresh sign-in"></i>
                    </button>
                </div>
            </div>
            <div class="account-footer">
                <span>قبلا در سایت ثبت نام کرده‌اید؟</span>
                <a asp-action="Login" class="btn-link-register">وارد شویــد</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}