@model School.Models.Slider

<form method="post" enctype="multipart/form-data">

    @*header*@
    @if (!String.IsNullOrWhiteSpace(Model.Id))
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش اسلاید" })
    }
    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن اسلاید" })
    }


    @*body*@
    <div class="modal-body form-horizontal">

        <div class="row">
            <div class="form-group">
                <label asp-for="Title" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input required="required" type="file" id="files" name="files" multiple />
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.Id))
                {
                    <input type="hidden" name="Imgename" value="@Model.Image" />
                }
            </div>

            <input type="hidden" asp-for="Id" class="form-control" />

            <input type="hidden" name="redirectUrl" value="@Url.Action("index","Slider")" />

        </div>
    </div>

    @*footer*@
    @if (!String.IsNullOrWhiteSpace(Model.Id))
    {
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal" value="برگشت">برگشت</button>
            <input type="submit" id="submitdata" class="btn btn-success" value="ویرایش " />
        </div>

    }
    else
    {
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal" value="برگشت">برگشت</button>
            <input type="submit" id="submitdata" class="btn btn-success" value="افزودن" />
        </div>

    }


</form>

<script>
    $(document).on('click', '#submitdata', function (evt) {
        evt.preventDefault();
        var fileupload = $("#files").get(0);
        var files = fileupload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append('files', files[i]);

        }
        $('input,textarea').each(function (x, y) {
            data.append($(y).attr('name'), $(y), val());

        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddEdit", "Slider", new { Areas = "Admin" })',
            contentType: false,
            processData: false,
            data: data

        }).done(function (res) {
            if (res.status === "success") {
                alert(res.message);
            }
            else {
                alert("در ثبت اطلاعات مشکلی وجود دارد");

            }
        }).fail(function (xhr, b, error) {

            alert(error);
        });

    });

</script>