@using School.Helpers
@model IEnumerable<Gallery>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">


        <div class="portfolio-carousel">


                @foreach (var item in Model)
                {<div class="portfolio-single">
                        <a href="@Helper.NormalImagePath@item.Image" class="zoom">
                            <div class="portfolio-head">
                                <img src="@Helper.NormalImagePath@item.Image" alt="">
                                <i class="fa fa-search"></i>
                            </div>
                        </a>
                    </div>
                }


        </div>
    </div>
</div>

