@model ContactUs

<form asp-controller="ContactUs" asp-action="Edit" id="AddEdit" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#AddEdit" data-ajax-mode="replace">

    @*header*@
    @if (!String.IsNullOrWhiteSpace(Model.Id))
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش " })
    }
    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن " })
    }

    @*body*@
    <div class="modal-body form-horizontal">

        <div class="row">
            <div class="form-group">
                <label asp-for="Description" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="Id" class="form-control" />

            <input type="hidden" name="redirectUrl" value="@Url.Action("index","ContactUs")" />

        </div>
    </div>

    @*footer*@
    @if (!String.IsNullOrWhiteSpace(Model.Id))
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش " })
    }
    else
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن " })
    }

</form>