@model ApplicationUser

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, School

<form asp-controller="User" asp-action="Edit" id="Edit" data-ajax="true" data-ajax-method="post"
      data-ajax-update="#Edit" data-ajax-mode="replace">

    @*header*@

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش " })

    @*body*@
    <div class="modal-body form-horizontal">
        <div class="row">

            <input type="hidden" asp-for="Id" class="form-control" />

            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="FullName" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NationalCode" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="NationalCode" class="form-control" />
                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-lg-5 col-sm-5 control-label">شماره موبایل</label>
                    <div class="col-lg-6">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="form-group">
                    <label asp-for="UserName" class="col-lg-5 col-sm-5 control-label">نام کاربری</label>
                    <div class="col-lg-6">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-lg-5 col-sm-5 control-label">ایمیل</label>
                    <div class="col-lg-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ApplicationRoleId" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="ApplicationRoleId" asp-items="@ViewBag.ApplicationRoles" class="form-control">
                            <option value="" disabled="disabled" selected="selected">انتخاب نقش</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <input type="hidden" name="redirectUrl" value="@Url.Action("index","User")" />

    @Html.Raw(TempData["Password"])

    @*footer*@

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش " })

</form>