@model string


<form asp-controller="Cost" asp-action="Delete">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف هزینه" })

    <div class="modal-body form-horizontal">
        آیا از حذف  @Model مطمئن هستید؟
    </div>

    <input type="hidden" name="redirectUrl" value="@Url.Action("index","Cost")" />

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف " })

</form>