@model Student

@{
    ViewData["Title"] = "مشخصات دانش آموز";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@*<div class="layout-main">*@

<div class="layout-content">
    <div class="layout-content-body">

        @*<div class="row">*@
        @*<div class="col-sm-6 col-sm-offset-3">*@
        <div class="demo-md-form-wrapper">
            <div class="md-form-group">
                <input class="md-form-control" type="text" placeholder="Text field with placeholder">
                <label class="md-control-label"></label>
            </div>
            <div class="md-form-group md-label-floating">
                <input class="md-form-control" type="text">
                <label class="md-control-label">Text field with floating label</label>
            </div>
            <div class="md-form-group md-label-static">
                <input class="md-form-control" type="text">
                <label class="md-control-label">Text field with static label</label>
            </div>
        </div>
        <h4>
            Disabled &amp; focused
            <small>Text field can show that it is disabled or focused.</small>
        </h4>
        <div class="demo-md-form-wrapper col-lg-4">
            <div class="md-form-group md-label-floating has-value is-disabled">
                <input class="md-form-control" type="email" value="teddy.wilson@elephant.theme" disabled="disabled">
                <label class="md-control-label">Enter your email</label>
            </div>
            <div class="md-form-group md-label-floating has-value is-focused">
                <input class="md-form-control" type="email" value="teddy.wilson@elephant.theme">
                <label class="md-control-label">Enter your email</label>
            </div>
        </div>
        <h4>
            Sizes
            <small>Text field can vary in size.</small>
        </h4>
        <div class="demo-md-form-wrapper">
            <div class="md-form-group md-form-group-sm md-label-floating">
                <input class="md-form-control" type="text">
                <label class="md-control-label">Text field with small size</label>
            </div>
            <div class="md-form-group md-label-floating">
                <input class="md-form-control" type="text">
                <label class="md-control-label">Text field with default size</label>
            </div>
            <div class="md-form-group md-form-group-lg md-label-floating">
                <input class="md-form-control" type="text">
                <label class="md-control-label">Text field with large size</label>
            </div>
        </div>
        <h4>
            Help text
            <small>Helper text should appear below the text field.</small>
        </h4>
        <div class="demo-md-form-wrapper">
            <div class="md-form-group md-label-floating has-value">
                <input class="md-form-control" type="password" value="test.1234">
                <label class="md-control-label">Password</label>
                <small class="md-help-block">8-character minimum; case sensitive.</small>
            </div>
            <div class="md-form-group md-label-floating has-value">
                <textarea class="md-form-control" rows="3" maxlength="512">You look like toad...hi hi hi</textarea>
                <label class="md-control-label">Comment</label>
                <small class="md-help-block">The maximum length of your comment is 512 characters.</small>
            </div>
        </div>
        <h4>
            States
            <small>Validation styles for error, warning, and success states.</small>
        </h4>
        <div class="md-form-group md-label-floating has-value has-error">
            <input class="md-form-control" type="password" value="test">
            <label class="md-control-label">Password</label>
            <small class="md-help-block">Your password needs at least one number.</small>
        </div>
        <div class="md-form-group md-label-floating has-value has-warning">
            <input class="md-form-control" type="password" value="testtest">
            <label class="md-control-label">Password</label>
            <small class="md-help-block">Your password is weak. Try a mix of letters, numbers, and symbols.</small>
        </div>
        <div class="md-form-group md-label-floating has-value has-success">
            <input class="md-form-control" type="password" value="test.1234">
            <label class="md-control-label">Password</label>
            <small class="md-help-block">Your password is strong.</small>
        </div>
        @*</div>*@
    </div>
</div>
@*</div>*@

@*</div>*@


