@using School.Helpers
@model Setting

<div class="logo">
    <a href="index.htm" class="custom-logo-link" rel="home" itemprop="url"><img width="55" height="40" src="@Helper.ThumbnailImagePath@Model.Logo" class="custom-logo" alt="Logo" itemprop="logo"></a>
</div>