@using School.Helpers
@model Setting

<div class="logo">
    <a href="index.htm" class="custom-logo-link" rel="home" itemprop="url"><img width="25%" height="25%" src="~/images/Logo/Logo.png" class="custom-logo" alt="Logo" itemprop="logo"></a>
</div>