<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper">

        <div class="box-sidebar">

            <div class="profile-box">
                <div class="profile-box-avator">
                    <img src="~/images/Logo/user-profile.svg" />
                </div>

                <div class="profile-box-content">
                    <span class="profile-box-nameuser">@ViewBag.UserFullName</span>
                    <span class="profile-box-phone">@ViewBag.UserMobile</span>
                </div>
                <div class="profile-box-tabs">
                    <a asp-controller="UserProfile" asp-action="ChangePasswordProfile" class="profile-box-tab"><span class="mdi mdi-lock"></span>تغییر رمز</a>

                    <a href="#" id="LogOut" class="profile-box-tab-sign-out"><span class="mdi mdi-power"></span>خروج از حساب</a>

                    <form style="display:none" asp-controller="Account" asp-action="Logout" id="logoutForm">
                        <button id="btnLogout" type="submit" class="profile-box-tab-sign-out"><span class="mdi mdi-power"></span>خروج از حساب</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="box-sidebar">
            <span class="box-header-sidebar">حساب کاربری شما</span>
            <ul class="profile-menu-items">

                <li><a asp-controller="UserProfile" asp-action="Index" class="profile-menu-url active-profile"><span class="mdi mdi-account-outline"></span>پروفایل</a></li>
                <li><a asp-controller="UserProfile" asp-action="Registration" class="profile-menu-url"><span class="fa fa-shopping-basket"></span>پیگیری ثبت نام</a></li>
                <li><a asp-controller="UserProfile" asp-action="userOrders" class="profile-menu-url"><span class="fa fa-shopping-basket"></span>پرداخت ها</a></li>
                @*<li><a <a asp-controller="UserProfile" asp-action="ReturnedGoods" class="profile-menu-url"><span class="fa fa-file-text-o"></span>درخواست مرجوعی</a></li>*@
                @*<li><a class="profile-menu-url"><span class="fa fa-star-o"></span>لیست علاقه مندی ها</a></li>*@
                @*<li><a asp-controller="UserProfile" asp-action="userComments" class="profile-menu-url"><span class="fa fa-file-text-o"></span>نقد و نظرات</a></li>
                <li><a asp-controller="UserProfile" asp-action="userAddress" class="profile-menu-url"><span class="mdi mdi-map"></span>آدرس ها</a></li>*@
                @*<li><a asp-controller="UserProfile" asp-action="History" class="profile-menu-url"><span class="fa fa-clock-o"></span>بازدیدهای اخیر</a></li>*@
                @*<li><a href="profile-personal-info.html" class="profile-menu-url"><span class="mdi mdi-account-outline"></span>اطلاعات شخصی</a></li>*@
            </ul>
        </div>

    </div>
</div>
