@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
        <span class="account-head-line">@ViewBag.Title</span>
        <div class="content-account">
            <label class="text-danger">خطا در پردازش درخواست.</label>
        </div>
    </div>
</div>