@model string

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, School

<form asp-controller="Gallery" asp-action="Delete">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف تصویر" })

    <div class="modal-body form-horizontal">
        آیا از حذف  @Model مطمئن هستید؟
    </div>

    <input type="hidden" name="redirectUrl" value="@Url.Action("Index","Gallery")" />

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف" })

</form>