@{
    ViewBag.Title = "پرداخت موفق";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}
<!--shopping--------------------->
<header class="shopping-page">
    <div class="container">
        <div class="header-shopping-logo">
            <a asp-controller="Sahad" asp-action="Index" class="logo-account"><img src="~/images/Logo/Logo.png"></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ul class="checkout-steps">
                <li class="is-completed is-completed-active">
                    <a href="#" class="checkout-steps-item-link active-link-shopping">
                        <span>اطلاعات پرداخت</span>
                    </a>
                </li>
                <li class="is-completed is-completed-active">
                    <a href="#" class="checkout-steps-item-link active-link-shopping">
                        <span>پرداخت</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="#" class="checkout-steps-item-link active-link-shopping">
                        <span>اتمام پرداخت</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
@if (ViewBag.StatusMessage != null)
{
    @(await Html.PartialAsync("_StatusMessage", (string)ViewBag.StatusMessage))
}
<div class="main-shopping">
    <div class="col-12 text-center">
        <div class="complate-page-container">
            <div class="success-checkout">
                <div class="container">
                    <div class="icon-success">
                        <span class="fa fa-check"></span>
                    </div>
                    <div class="order-success">
                        شهریه شما با کد پیگیری
                        <a href="#" class="order-code">@ViewBag.FactorCode</a>
                        با موفقیت پرداخت و در سیستم ثبت شد.
                        <span class="order-ready-post">
                            از اینکه روش غیر حضوری را برای ثبت نام انتخاب کردید از شما سپاسگزاریم.
                        </span>
                    </div>
                </div>
            </div>

            <div class="checkout-order-info">
                <div class="order-info">
                    <div class="order-code">
                        کد سفارش :
                        <span>@ViewBag.FactorCode</span>
                    </div>
                    <div class="checkout-process-order-info">
                        شهریه شما با موفقیت در سیستم ثبت شد و هم اکنون در وضعیت
                        <a href="#" class="processing">پرداخت شده</a>
                        است.جزئیات این سفارش را می توانید
                        با کلیک بر روی دکمه
                        <a asp-controller="UserProfile" asp-action="userOrders" class="link-border">پیگیری پرداخت ها</a>
                        مشاهده نمایید.
                    </div>

                    
                    <div class="parent-btn">
                        <button id="btnOrder" type="submit" class="dk-btn dk-btn-info col-md-3">
                            پیگیری پرداخت
                            <i class="fa fa-print sign-in"></i>
                        </button>
                    </div>
                    <div class="parent-btn">
                        <button id="btnPrint" type="submit" class="dk-btn dk-btn-success col-md-3">
                            پرینت
                            <i class="fa fa-print sign-in"></i>
                        </button>
                    </div>

                    @*<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">نام تحویل گیرنده: حسن شجاعی</th>
                    <th scope="col">شماره تماس :</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>تعداد مرسوله : 1</td>
                    <td>مبلغ کل :</td>
                </tr>
                <tr>
                    <td>وضعیت پرداخت : پرداخت آنلاین(موفق)</td>
                    <td>وضعیت سفارش : در حال انجام</td>
                </tr>
                <tr>
                    <td>آدرس : استان خراسان شمالی ، بجنورد</td>
                    <td></td>
                </tr>
            </tbody>
        </table>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $('#btnPrint').on("click", function () {
            window.print();
        })

        $('#btnOrder').on("click", function () {
            location.href='/UserProfile/UserOrders';
        })
    </script>
}